[user]
	name = Shinya Kamiaka
	email = shinya@kamiaka.net
[core]
	excludesfile = /Users/s-kamiaka/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[ghq]
	root = ~/src
[alias]
	co = checkout
	st = status
	br = branch
	ci = commit
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
[push]
	default = simple
[commit]
	template = /Users/s-kamiaka/.stCommitMsg
